* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

:root {
  --primary-color: #ff6464;
  --secondary-color: #142850;
  --third-color: #8695a4;
  --border-color: #e0e0e0;
  --blog-text-color: #21243d;
}

body {
  font-family: "Heebo", sans-serif;
  overflow-x: hidden;
}

/* start header styling */
.header {
  background-color: white;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: end;
}

.menu-section {
  display: flex;
  align-items: center;
  justify-content: end;
}

.menu-item {
  margin: 27px 33px;
}

.menu-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: black;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.menu-link:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.hamburger {
  display: none;
  cursor: pointer;
  margin: 27px 33px;
}

.links {
  background-color: var(--secondary-color);
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 5;
  transform: translateX(100%);
}

.links a {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.649);
}
/* end header styling */

/* start Blog Page Styling */
.blog h1 {
  margin: 36px 0px;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: var(--blog-text-color);
}

.blog-content h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: var(--blog-text-color);
}

.blog-content .blog-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: var(--blog-text-color);
  padding-right: 20px;
}

.blog-content .blog-classify {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: var(--blog-text-color);
  padding-left: 20px;
  color: var(--third-color);
}

.blog-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--blog-text-color);
  margin: 15px 0px;
}
/* end Blog Page Styling */

/* start contact styling */
.social-networks-Icon {
  display: flex;
  justify-content: center;
}

.social-networks-Icon a {
  margin-left: 20px;
  font-size: 26px;
  color: var(--secondary-color);
  padding: 40px 0 20px 0;
}

.contact-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 30px;
}
/* end contact styling */

@media screen and (max-width: 768px) {
  body {
    position: relative;
  }

  body.active {
    overflow: hidden;
  }

  .hamburger {
    display: block;
    z-index: 10;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 5px 0;
    transition: 0.5s;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-section {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 5;
    transition: 0.5s ease-in;
  }

  .menu-section.active {
    left: 0;
  }

  .menu-link {
    color: white;
    font-size: 26px;
    text-shadow: 0 2px 12px var(--third-color);
    transition: 0.7s ease-in-out;
  }
}
 


@media screen and (max-width: 768px) {
  .blog h1 {
    margin: 26px 0px;
    font-size: 30px;
  }

  .blog-content h4 {
    font-size: 26px;
    line-height: 34px;
  }

  .blog-content .blog-date {
    font-size: 12px;
  }

  .blog-content .blog-classify {
    font-size: 12px;
  }

  .blog-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--blog-text-color);
    margin: 15px 0;
  }
}

